<header>

    <div class="center">

        <div class="logo">

            <a href="/index.html"><img src={{asset('_assets/_img/logo/lamarcanegro.png')}} alt="La Marca Inc." /></a>

        </div>

        <nav>

            <ul class="menu">

                <li class="active"><a href="/lamarca_opc1/index.html">Home</a></li>
                <li><button class="menu-element" data-action="show-quote-popup" data-quote-key="car-insurance">Cotizador</button></li>
                <li><a href="/lamarca_opc1/blog.html">Nosotros</a></li>

                <li>

                    <a href="/lamarca_opc1/agents.html">Preguntas Frencuentes</a>
                    <i class="fa fa-caret-down"></i>

                    <ul class="submenu animated speed fadeInDown">

                        <li><a href="/lamarca_opc1/agents.html">Trabaje con nosotros</a></li>

                        <li>

                            <a href="/get-a-travel-insurance-quote.html"><i class="fa fa-caret-left"></i> Formularios</a>
                            <ul class="submenu animated speed fadeInRight">

                                <li><a href="/get-a-life-insurance-quote.html">Cotización Seguro de Vida</a></li>
                                <li><a href="/get-a-car-insurance-quote.html">Cotización Seguro Automotor</a></li>
                                <li><a href="/get-a-house-insurance-quote.html">Cotización Seguro del Hogar</a></li>


                            </ul>

                        </li>

                        <li><a href="/claims.html">Reclamos</a></li>
                        <li><a href="/lamarca_opc1/contact.html">Contáctenos</a></li>

                        <li>

                            <a href="/travel-insurance.html"><i class="fa fa-caret-left"></i>Promociones</a>
                            <ul class="submenu animated speed fadeInRight">

                                <li><a href="/life-insurance.html">Seguros de vida</a></li>
                                <li><a href="/car-insurance.html"></a>Seguros automotor</li>
                                <li><a href="/house-insurance.html">Seguros del hogar</a></li>
                                <li><a href="/travel-insurance.html">otros</a></li>

                            </ul>

                        </li>

                        <li><a href="/404.html">404 page</a></li>

                    </ul>

                </li>

                <li><button class="menu-element" data-action="show-contact-popup">Contáctenos</button></li>

            </ul>

            <div class="menu-responsive"><i class="fa fa-bars"></i></div>

        </nav>

        <div class="clear">
        </div>

    </div>

</header>
